body {
  background-color: whitesmoke;
}
.faka {
  display: flex;
  justify-content: center;
}
.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
}
.button {
  background-color: blueviolet;
  padding: 50px;
  margin: 30px;
  border: 1px solid snow;
  border-radius: 16px;
}

#gray {
  background-color: gray;
}
#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#yellowgreen {
  background-color: yellowgreen;
}
